<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/system_file.xsd">
    <system>
        <tab id="signativa" translate="label">
            <label>Signativa</label>
        </tab>
        <section id="extended_bundle" showInDefault="1" translate="label">
            <tab>signativa</tab>
            <label>Extended Bundle</label>
            <resource>Signativa_ExtendedBundle::system_config</resource>
            <group id="general" showInDefault="1" translate="label">
                <label>Configuration</label>
                <field id="enable" type="select" showInDefault="1" sortOrder="1" translate="label">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
